html,
body {
    height: 100%;
    margin: 0;
    padding: 0 10px;
}


body {
    width: 99%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #fff;
    font-family: 'Open Sans';
    font-weight: normal;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navBar
{
    position: fixed;
    left: 0;
    width: 100px;
    height: 100%;
    text-align: center;
    font-weight: bold;
    background-color: rgb(143, 143, 143);
    color: #fff;

}

a
{
    text-decoration: none;
    color: #000;
}

nav ul
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
    margin-left: -40px;
    margin-top: 250%;
}


.menuItem img
{
    width: 70px;
    padding-top: 50px;
}

.leftSide
{
    height:74%;
    width: 25%;
    background-color: #C4E566;
    border-radius: 35px;
    margin-top: 50px;
    margin-left: 100px;
    
}

.rightSide
{
    height:80%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
}

.top
{
    height:25%;
    width: 100%;
    border-radius: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.top2
{
    height:100%;
    width: 45%;
    background-color: #C4E566;
    border-radius: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.top3
{
    height:100%;
    width: 45%;
    background-color: #C4E566;
    border-radius: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.bars
{
    height:25%;
    width: 80%;
    background-color: #C4E566;
    border-radius: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align:center;
}

.bars div{
    background: white;
    padding: 7px 20px;
    border-radius: 35px;
}

.bars button{
    border-radius:10px;
}

.bars p{
    border-radius:10px;
    margin-bottom: 7px;
}

.tips
{
    height:25%;
    width: 100%;
    border-radius: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo
{
    width: 820px;
    margin-top: -160px;
    margin-left: -180px ;
    padding-bottom: -150px;
}

.box
{

    height: 200px;
    width: 85%;
    background-color: #fff;
    border-radius: 35px;
    margin-left: 8%;
    margin-top: 150px;
}

.tips2
{
    height:100%;
    width: 45%;
    border-radius: 35px;
    border-style: solid;
    border-width: 4px;
    border-color: #C4E566;
    display: flex;
    align-items: center;
    text-align: center;
}

.tips3
{
    height:100%;
    width: 45%;
    border-radius: 35px;
    border-style: solid;
    border-width: 4px;
    border-color: #C4E566;
    display: flex;
    align-items: center;
    text-align: center;
}

.co2
{
    height: 150px;
    width: 60%;
    background-color: #CDECF9;
    border-radius: 35px;
    margin-left: 20%;
    margin-top: -360px;
    text-align: center;
    overflow: hidden;
}

.box2
{
    height: 200px;
    width: 85%;
    background-color: #fff;
    border-radius: 35px;
    margin-left: 8%;
    margin-top: 330px;
}

.lines1
{
    height: 20%;
    width: 90%;
    border-radius: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.lines2
{
    height: 20%;
    width: 90%;
    border-radius: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.lines3
{
    height: 20%;
    width:90%;
    border-radius: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.line1
{
    height: 100%;
    width: 70%;
    background-color: #fff;
    border-radius: 35px;
}

.line4
{
    height: 100%;
    width: 70%;
    background-color: #fff;
    border-radius: 35px;
}
.url_style{
    word-wrap: break-word;
    margin-left: 5px;
}
.line5
{
    height: 100%;
    width: 70%;
    background-color: #fff;
    border-radius: 35px;
}

.line6
{
    height: 100%;
    width: 70%;
    background-color: #fff;
    border-radius: 35px;
}

.rect1
{
    height: 100%;
    width: 20%;
    background-color: #fff;
    border-radius: 35px;
    text-align: center;
}

.line2
{
    height: 100%;
    width: 70%;
    background-color: #fff;
    border-radius: 35px;
}

.rect2
{
    height: 100%;
    width: 20%;
    background-color: #fff;
    border-radius: 35px;
    text-align: center;
}

.line3
{
    height: 100%;
    width: 70%;
    background-color: #fff;
    border-radius: 35px;
}

.rect3
{
    height: 100%;
    width: 20%;
    background-color: #fff;
    border-radius: 35px;
    text-align: center;
}

.amount1
{
    height: 100%;
    width: 15%;
    background-color: #fff;
    border-radius: 10px;
}

.amount2
{
    height: 100%;
    width: 15%;
    background-color: #fff;
    border-radius: 10px;
}

.amount3
{
    height: 100%;
    width: 15%;
    background-color: #fff;
    border-radius: 10px;
}

.bar1
{
    height: 60%;
    width: 70%;
    background-color: #CDECF9;
    border-radius: 35px;
}

.bar2
{
    height: 60%;
    width: 70%;
    background-color: #CDECF9;
    border-radius: 35px;
}

.bar3
{
    height: 60%;
    width: 70%;
    background-color: #CDECF9;
    border-radius: 35px;
}

.title
{
    position: absolute;
    margin-top: -130px;
    font-size: 25px;
    font-weight: normal;
    text-align: center;
}

.title1
{
    margin-top: -70px;
    margin-left: 7.5%;
}

.title2
{
    margin-top: 130px;
}

.title3
{
    margin-top: -140px;
}

.co2Text
{
    font-size: 40px;
    text-align: center;
    padding-top: 15px;
}

.waterText
{
    font-size: 40px;
    text-align: center;
    padding-top: 15px;
}
.rect4
{
    height: 100%;
    width: 20%;
    background-color: #fff;
    border-radius: 35px;
    text-align: center;
}
.rect5
{
    height: 100%;
    width: 20%;
    background-color: #fff;
    border-radius: 35px;
    text-align: center;
}
.rect6
{
    height: 100%;
    width: 20%;
    background-color: #fff;
    border-radius: 35px;
    text-align: center;
}


.container-fluid {
    font-size: 13px;
}

imput {
    overflow: hidden;
    font: normal 17px/1 "Open Sans", sans-serif;
    font-weight: 700;
    color: #00a9de;
    line-height: 29px;
}



@media screen and (min-width: 200px) and (max-width: 1070px) {
    .title2
{
    margin-top: 12%;
}

.title1 {
    margin-top: -61px;
    margin-left: 6%;
    font-size: 19px;
}
nav ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
    margin-left: -40px;
    margin-top: 150%;
}
  }