html,
body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    font-family: 'Open Sans';
    font-weight: normal;
}


/* Menu */

.navBar
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100px;
    height: 100vh;
    background-color: rgb(143, 143, 143);
    color: #fff;
    display: flex;
    align-items: flex-end;
    justify-content: center;

}

a
{
    text-decoration: none;
    color: #000;
}

nav ul
{
    list-style: none;
    padding: 0;
}

.menuItem img
{
    width: 60px;
    padding: 10px 0;
}

/* Consommation CO2 et eau */

main{
    width: calc(100vw - 100px);
    height: 100vh;
    margin-left: 100px;
    display:flex;
    justify-content: space-around;
}

.title
{
    font-size: 20px;
    font-weight: normal;
    text-align: center;
}

.leftSide
{
    height:70vh;
    width: 30%;
    border-radius: 35px;    
}

.aujourd{
    background-color: #C4E566;
    border-radius: 35px; 
    display:flex;
    
}

.co2
{
    width: 60%;
    height: 130px;
    background-color: #CDECF9;
    border-radius: 35px;
    text-align: center;
}

.rightSide
{
    height:70vh;
    width: 60%;
}

.top
{
    height:25%;
    width: 100%;
    border-radius: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.top2
{
    height:100%;
    width: 45%;
    background-color: #C4E566;
    border-radius: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.top3
{
    height:100%;
    width: 45%;
    background-color: #C4E566;
    border-radius: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.bars
{
    height:25%;
    width: 100%;
    background-color: #C4E566;
    border-radius: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.tips
{
    height:25%;
    width: 100%;
    border-radius: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo
{
    width: 820px;
}

.box
{

    height: 200px;
    width: 85%;
    background-color: #fff;
    border-radius: 35px;
}

.tips2
{
    height:100%;
    width: 45%;
    border-radius: 35px;
    border-style: solid;
    border-width: 4px;
    border-color: #C4E566;
}

.tips3
{
    height:100%;
    width: 45%;
    border-radius: 35px;
    border-style: solid;
    border-width: 4px;
    border-color: #C4E566;
}

.box2
{
    height: 200px;
    width: 85%;
    background-color: #fff;
    border-radius: 35px;
}

.lines1
{
    height: 20%;
    width: 90%;
    border-radius: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.lines2
{
    height: 20%;
    width: 90%;
    border-radius: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.lines3
{
    height: 20%;
    width:90%;
    border-radius: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.line1
{
    height: 100%;
    width: 70%;
    background-color: #fff;
    border-radius: 35px;
}

.rect1
{
    height: 100%;
    width: 20%;
    background-color: #fff;
    border-radius: 35px;
}

.line2
{
    height: 100%;
    width: 70%;
    background-color: #fff;
    border-radius: 35px;
}

.rect2
{
    height: 100%;
    width: 20%;
    background-color: #fff;
    border-radius: 35px;
}

.line3
{
    height: 100%;
    width: 70%;
    background-color: #fff;
    border-radius: 35px;
}

.rect3
{
    height: 100%;
    width: 20%;
    background-color: #fff;
    border-radius: 35px;
}



.co2Text
{
    font-size: 40px;
    text-align: center;
    padding-top: 15px;
}

.waterText
{
    font-size: 40px;
    text-align: center;
    padding-top: 15px;
}