html{
    height: 100%;
}
body{
    background-color: #254F6E;
    margin : 0;
    padding : 0;
}

.logo{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 15%;
}
.btn-primary{
  background: #00a9de;
}
.btn-design{
background:#00a9de;
box-shadow: 0 1px #444444;  
padding: 25px 20px;
color: #ffffff;
display: flex;
align-items: center;
font: normal 18px/1 "Open Sans", sans-serif;
height:35px;
text-decoration: none;
text-align: center; /* hauteur du parent */
border-radius: 12px;
}

.action_button{
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
}

.eco_print{
    background-color: #ffffff;
    height: 380px;
    display: flex;
    flex-direction: column;
    width: 100%;
    box-shadow: 10px 10px 55px 0px #656565;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=55);
    border-radius: 12px;
}

.rank{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45%;

}
.title_print{
    width: 100%;
    height: 50px;
    display: flex;
    font: normal 12px/1 "Open Sans", sans-serif;
    align-items: flex-start;
}

.title_print>h3{
    margin-top: 5px;
    font-size: 14px;
    margin-left: 5px;
} 

.btn-design_practice{
    background:#00a9de;
    box-shadow: 0 1px #444444;  
    padding: 8px 20px;
    color: #ffffff;
    display: inline-block;
    font: normal 18px/1 "Open Sans", sans-serif;
    text-align: center;
    width: 100%;
    height: 60px;
    margin-top: 50px;
    }

.container_eco_print{
    width: 100%;
    display: flex;
    justify-content: center;
}

#ecoIndexView{
    display: flex;
    width: 100%;
    justify-content: center;
}

input.switch {
	-webkit-appearance: none;
	-moz-appearance: none;
	-o-appearance: none;
	width: 40px;
	height: 20px;
	background-color: #fff;
	border: 1px solid #D9DADC;
	border-radius: 50px;
	-webkit-box-shadow: inset -20px 0px 0px 0px #D9DADC;
	box-shadow: inset -20px 0px 0px 0px #D9DADC;
	-webkit-transition-duration: 200ms;
	transition-duration: 200ms;
}

input.switch:checked {
	-webkit-box-shadow: inset 20px 0px 0px 1px #4ed164;
	box-shadow: inset 20px 0px 0px 1px #4ed164;
}

input.switch::-ms-check {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	/* IE 8 */
	filter: alpha(opacity=0);
	/* IE 5-7 */
	opacity: 0;
}
.best_practice{
    color: #ffffff;
    font: normal 18px/1 "Open Sans", sans-serif;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
}


.table_practice>tbody>tr>td{
    border-color: #254F6E;
    font: normal 12px/1 "Open Sans", sans-serif;
    
}

.table_practice>tbody>tr>td>a{
    color: #1C6EA4;
}

input[type=checkbox] {
    margin: 0;
    margin-right: 10px;
    margin-bottom: 5px;
}

#helpButton{
    height: 35px;
    height: 35px;
    /* margin: auto; */
    display: flex;
    width: 45px;
}

.bold_police{
    font: normal 12px/1 "Open Sans", sans-serif;
    font-weight: 500;
}

.table-condensed>tbody>tr>.result_bold_police{
    font: normal 15px/1 "Open Sans", sans-serif;
    font-weight: 700;
    color: #00a9de;
}

.gradeCircle{
    font: normal 20px/1 "Open Sans", sans-serif;
    font-weight: 700;
    color: #00a9de;
}

table.table_practice {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  background-color: white;
  border-radius: 12px;
}

table.table_practice td, table.table_practice th {
  border: 0px solid #AAAAAA;
  padding: 10px 0px;
}
table.table_practice tbody td {
  font-size: 14px;
  font-weight: bold;
  color: #1C6EA4;
  padding: 20px;
  text-align: center;
}
table.table_practice thead {
  background: #1C6EA4;
}
table.table_practice thead th {
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
}
table.table_practice tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF;
  background: #FFFFFF;
  background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 66%, #FFFFFF 100%);
  background: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 66%, #FFFFFF 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #ffffff 66%, #FFFFFF 100%);
  border-top: 2px solid #444444;
}
table.table_practice tfoot td {
  font-size: 14px;
}
table.table_practice tfoot .links {
  text-align: right;
}
table.table_practice tfoot .links a{
  display: inline-block;
  background: #1C6EA4;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 12px;
}
h4{
    text-align: center;
    font-size: 30px;
    padding: 20px;
}

#bestPracticesView {
    -webkit-animation: bestPracticesView 1s ease-in-out both;
            animation: bestPracticesView 1s ease-in-out both;
            color: #ffffff;
}
@-webkit-keyframes bestPracticesView {
    0% {
      -webkit-transform: translateY(-50px);
              transform: translateY(-50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes bestPracticesView {
    0% {
      -webkit-transform: translateY(-50px);
              transform: translateY(-50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  #hugolpb {
    margin: 20px;
    width: 120px;
    height: 120px;
    position: relative;
  }
  .space{
    height: 74px;
    width: 100%;
  }