/* html{
    border: 5px solid black;
    border-radius: 10px;
} */

body{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.body-container{
    width: 500px;
    padding: 25px;
    color: #707070;
}

header{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

button{
  cursor: pointer;
}

.header-logo{
    width: 150px;
    margin-right: 33%;
}

.header-logo img{
    width: 100%;
}

.header-config{
    width: 20px;
}

.header-config img{
    width: 100%;
}

.main-container{
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{
  width: 100%;
  display: flex;
  align-items: center;
}

.main-content{
    width: 50%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.main-left{
    border-right: 2px solid #34AFE4;
    margin-top: -25px;
    height: 125px;
}

.circle-element{
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border: 5px solid #D0E434;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
}

.circle-fill{
    width: 100px;
    height: 100px;
    border: 5px solid #D0E434;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    flex-direction: column;
}

.circle-score{
    font-size: 3em;
}

.content-description{
    font-size: .8em;
}

.content-button{
    margin: 0 auto;
    width: 30%;
    padding: 10px;
    background: #B0DD26;
    border-radius: 20px;
    box-sizing: none;
    box-shadow: none;
    color: #fff;
    border: none;
    outline: none;
}

.content-result{
    width: 70%;
    margin: 0 auto;
    padding: 10px;
    background: #CDECF9;
    border-radius: 19px;
    text-align: center;
}

.content-result span{
    display: block;
}

.content-weight{
    font-size: 3em;
}

.content-weight-description{
    font-size: 1.5em;
}   

.select{
    margin: 10px auto;
    width: 40%;
    background: #34AFE4;
    border-radius: 10px;
    padding: 8px;
    text-align: center;
    position: relative;
    display: flex;
    height: auto;
    line-height: 2.5;
    overflow: hidden;
}

.select img{
    width: 10px;
}

/* select{
    width: 90%;
    -webkit-appearance: none;
    outline: none;
    background: none;
    border: none;
    position: relative;
} */

select::after{
    pointer-events: none;
    content: "";
    position: absolute;
    top: 32px;
    right: 20px;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 8px solid rgba(0,0,0,.5);
    transition: all .2s cubic-bezier(.25,.46,.45,.94);
    z-index: 9;
  }

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #34AFE4;
    background-image: none;
  }
  /* Remove IE arrow */
  select::-ms-expand {
    display: none;
  }
  /* Custom Select */
  select {
    flex: 1;
    padding: 0 5.5em;
    color: #fff;
    cursor: pointer;
  }
  /* Arrow */
  .select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #34AFE4;
    cursor: pointer;
    pointer-events: none;
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
  }
  /* Transition */
  .select:hover::after {
    color: #B0DD26;
  }
  
/* Circle */

  .circle-wrap {
  margin: 0 auto;
  width: 150px;
  height: 150px;
  background: #e6e2e7;
  border-radius: 50%;
  position: relative;
}

.circle-wrap .circle .mask,
.circle-wrap .circle .fill {
  width: 150px;
  height: 150px;
  position: absolute;
  border-radius: 50%;
}

.circle-wrap .circle .mask {
  clip: rect(0px, 150px, 150px, 75px);
}

.circle-wrap .circle .mask .fill {
  clip: rect(0px, 75px, 150px, 0px);
  background-color: #B0DD26;
}

.circle-wrap .circle .mask.full,
.circle-wrap .circle .fill {
  animation: fill ease-in-out 3s;
  transform: rotate(126deg);
}

@keyframes fill {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(126deg);
  }
}

.circle-wrap .inside-circle {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background: #fff;
  text-align: center;
  margin-top: 10px;
  margin-left: 10px;
  position: absolute;
  z-index: 100;
  font-weight: 700;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.inside-circle span{
    display: block;
}

.inside-circle span:nth-child(2){
    font-size: .8em;
}

.dev-tool{
  background: #787878;
  color: #fff;
  box-shadow: none;
  border: none;
  float: right;
  border-radius: 20px;
  width: 18%;
  margin: 10px;
  height: 35px;
  outline: none;
}