html,
body {
    height: 100%;
    margin: 0;
    padding: 0 10px;
}


body {
    width: 99%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #fff;
    font-family: 'Open Sans';
    font-weight: normal;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navBar
{
    position: fixed;
    left: 0;
    width: 100px;
    height: 100%;
    text-align: center;
    font-weight: bold;
    background-color: #CDEFC9;
    color: #fff;

}

a
{
    text-decoration: none;
    color: #000;
}

nav ul
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
    margin-left: -40px;
    margin-top: -220px;
}


.menuItem svg
{
    width: 70px;
    padding-top: 50px;
}

.leftSide
{
    height:80%;
    width: 25%;
    background-color: #B0DD26;
    border-radius: 25px;
    
}

.rightSide
{
    height:80%;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.top
{
    height:25%;
    width: 100%;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.top2
{
    height:100%;
    width: 45%;
    background-color: #B0DD26;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.top3
{
    height:100%;
    width: 45%;
    background-color: #B0DD26;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.bars
{
    height:25%;
    width: 100%;
    background-color: #B0DD26;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.tips
{
    height:25%;
    width: 100%;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo
{
    width: 820px;
    margin-top: -160px;
    margin-left: -180px ;
    padding-bottom: -150px;
}

.co2
{

    height: 300px;
    width: 85%;
    background-color: #fff;
    border-radius: 25px;
    margin-left: 8%;
    margin-top: 160px;
}

.tips2
{
    height:100%;
    width: 45%;
    border-radius: 25px;
    border-style: solid;
    border-width: 4px;
    border-color: #B0DD26;
}

.tips3
{
    height:100%;
    width: 45%;
    border-radius: 25px;
    border-style: solid;
    border-width: 4px;
    border-color: #B0DD26;
}

.box
{
    height: 170px;
    width: 60%;
    background-color: #CDECF9;
    border-radius: 25px;
    margin-left: 20%;
    margin-top: -440px;
}

.box2
{
    height: 250px;
    width: 85%;
    background-color: #fff;
    border-radius: 25px;
    margin-left: 8%;
    margin-top: 300px;
}

.lines1
{
    height: 18%;
    width: 90%;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.lines2
{
    height: 18%;
    width: 90%;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.lines3
{
    height: 18%;
    width:90%;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.line1
{
    height: 100%;
    width: 70%;
    background-color: #fff;
    border-radius: 25px;
}

.rect1
{
    height: 100%;
    width: 20%;
    background-color: #fff;
    border-radius: 25px;
}

.line2
{
    height: 100%;
    width: 70%;
    background-color: #fff;
    border-radius: 25px;
}

.rect2
{
    height: 100%;
    width: 20%;
    background-color: #fff;
    border-radius: 25px;
}

.line3
{
    height: 100%;
    width: 70%;
    background-color: #fff;
    border-radius: 25px;
}

.rect3
{
    height: 100%;
    width: 20%;
    background-color: #fff;
    border-radius: 25px;
}

.amount1
{
    height: 100%;
    width: 15%;
    background-color: #fff;
    border-radius: 25px;
}

.amount2
{
    height: 100%;
    width: 15%;
    background-color: #fff;
    border-radius: 25px;
}

.amount3
{
    height: 100%;
    width: 15%;
    background-color: #fff;
    border-radius: 25px;
}

.bar1
{
    height: 100%;
    width: 70%;
    background-color: #CDECF9;
    border-radius: 25px;
}

.bar2
{
    height: 100%;
    width: 70%;
    background-color: #CDECF9;
    border-radius: 25px;
}

.bar3
{
    height: 100%;
    width: 70%;
    background-color: #CDECF9;
    border-radius: 25px;
}